*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    background: url("../images/fond__accueil.svg") center/cover;
    font-family: "Ubuntu";
    color: #272e44;
}

header {
    height: 15vh;
}

header nav {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

header .nav__gauche {
    height: 100%;
    width: 12.5vh;
    height: 7.5vh;
    background: url("../images/logo.svg") center/cover;
    float: left;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

header .nav__droite {
    height: 100%;
    width: 60%;
    float: right;
}

header .nav__liste {
    height: 100%;
}

header .nav__item {
    float: left;
    width: calc(100% / 4);
    height: 100%;
}

header .nav__ancre {
    position: relative;
    display: block;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 0;
}

header .nav__active {
    background-color: #272e44;
    border-radius: 3px;
}

header .nav__ancre::after {
    position: absolute;
    content: "";
    background-color: #272e44;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .3s linear;
    border-radius: 3px;
    z-index: -1;
}

header .nav__ancre:hover::after {
    height: 100%;
}

main {
    width: 90vw;
    height: calc(100vh - 15vh - 10vh);
    margin: 0 auto;
}

main .conteneur__gauche {
    height: 100%;
    width: 50vw;
    float: left;
}

main .main__header {
    height: 25%;
}

main .main__header_contenu {
    height: 50%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #272e44;
    border-radius: 3px;
}

main .main__header h3,
main .main__header span {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

main .main__header h3 {
    width: calc(100% / 3 - 1px);
    font-family: "Quicksand", sans-serif;
    color: #f8cacc;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

main .main__header span {
    width: 1px;
    height: 50%;
    background-color: #f8cacc;
}

main .recettes {
    margin: 0 auto;
    height: 56.25vh;
    width: 56.25vh;
}

.carte {
    height: calc(56.25vh / 3 - 4px);
    background-color: white;
    float: left;
    position: relative;
    width: calc(56.25vh / 3 - 4px);
    filter: grayscale(100%);
    transition: all 1s;
    border: 5px solid #dc3f48;
    /*espace de 3px -> total espace 6px -> largeur de chacunnes des divs 100% (en vh) / 3 - 4px -> (3 car 3 cartes) (4px car 3 * 4 = 12) */
}

.carte:nth-child(2),
.carte:nth-child(8) {
    margin: 0 6px;
}

.carte:nth-child(4),
.carte:nth-child(6) {
    margin: 6px 0;
}

.carte:nth-child(5) {
    margin: 6px;
}

.carte:nth-child(1) {
    background: url("../images/ramens/1.png") center/cover;
}
.carte:nth-child(2) {
    background: url("../images/ramens/2.png") center/cover;
}
.carte:nth-child(3) {
    background: url("../images/ramens/3.png") center/cover;
}
.carte:nth-child(4) {
    background: url("../images/ramens/4.jpg") center/cover;
}
.carte:nth-child(6) {
    background: url("../images/ramens/5.webp") center/cover;
}
.carte:nth-child(7) {
    background: url("../images/ramens/6.png") center/cover;
}
.carte:nth-child(8) {
    background: url("../images/ramens/7.png") center/cover;
}
.carte:nth-child(9) {
    background: url("../images/ramens/8.jpg") center/cover;
}

.carte:hover:not(.center) {
    cursor: pointer;
    filter: grayscale(0%);
    transform: scale(1.1);
    z-index: 999;
}

.carte:not(.center)::before {
    position: absolute;
    content: "";
    height: 0;
    bottom: 0;
    color: transparent;
    width: 100%;
    text-align: center;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 1.3rem;
    transition: 1s;
    overflow: hidden;
}

.carte:hover:not(.center):before {
    height: fit-content;
    background-color: rgba(255,255,255,.8);
    color: black;
}

.carte:first-child:before {
    content: "Ramen végétarien";
}
.carte:nth-child(2)::before {
    content: "Ramen végan";
}
.carte:nth-child(3)::before {
    content: "Ramen au poulet";
}
.carte:nth-child(4)::before {
    content: "Ramen au poulet facile";
}
.carte:nth-child(6)::before {
    content: "Ramen aux gingembre";
}
.carte:nth-child(7)::before {
    content: "Ramen au boeuf au cookeo";
}
.carte:nth-child(8)::before {
    content: "Ramen au boeuf au companion";
}
.carte:nth-child(9)::before {
    content: "Ramen aux crevettes";
}

.carte a .ancre {
    width: calc(56.25vh / 3 - 4px);
    height: calc(56.25vh / 3 - 4px);
    position: relative;
    top: -5px;
    left: -5px;
}

.center {
    background-color: #272e44;
    filter: grayscale(0%);
    border: none;
    color: #f8cacc;
    text-align: center;
}

.center h3 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Quicksand", sans-serif;
    text-transform: lowercase;
    font-size: 1.17em;
    font-weight: lighter;
}

footer {
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    background-color: #272e44;
}

footer > * {
    width: calc(100% / 3);
    height: 100%;
    font-size: 1rem;
}

footer div p,
footer div ul li {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #f8cacc;
}

footer .left {
    float: left;
    padding-left: 5vw;
}

footer .center {
    float: left;
}

footer .right {
    float: left;
    padding-right: 5vw;
}

footer .social {
    height: 100%;
}

footer .social li {
    float: right;
    height: 100%;
}

footer .social li:nth-child(2) {
    margin: 0 50px;
}

footer .social li a img {
    height: 3vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: #f8cacc;
    animation: 2s overlayAnim forwards;
}

@keyframes overlayAnim {
    0% {
        opacity: 1;
        top: 0;
    }
    50% {
        opacity: .9;
    }
    90% {
        opacity: .7;
    }
    100% {
        opacity: 0;
        top: 100vh;
        display: none;
        height: 0;
    }
}