*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: "Ubuntu";
    color: #272e44;
    background: url("../images/fond__accueil.svg") center center/cover no-repeat fixed;

}

header {
    height: 15vh;
}

header nav {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

header .nav__gauche {
    height: 100%;
    width: 12.5vh;
    height: 7.5vh;
    background: url("../images/logo.svg") center/cover;
    float: left;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

header .nav__droite {
    height: 100%;
    width: 60%;
    float: right;
}

header .nav__liste {
    height: 100%;
}

header .nav__item {
    float: left;
    width: calc(100% / 4);
    height: 100%;
}

header .nav__ancre {
    position: relative;
    display: block;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 0;
}

header .nav__active {
    background-color: #272e44;
    border-radius: 3px;
}

header .nav__ancre::after {
    position: absolute;
    content: "";
    background-color: #272e44;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .3s linear;
    border-radius: 3px;
    z-index: -1;
}

header .nav__ancre:hover::after {
    height: 100%;
}

main {
    height: 75vh;
    width: 90vw;
    margin: 0 auto;
}

main section {
    width: 100%;
    height: 100%;
}

main section > * {
    width: 45%;
    height: 100%;
    float: left;
    border-radius: 20px;
}

main section .carte {
    margin-right: 10%;
}

.carte div {
    height: 20%;
}

.carte div h1 {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.carte iframe {
    width: 100%;
    border-radius: 20px;
    height: 80%;
}

section .droite {
    background-color: rgba(255,255,255,.95);
}

section .horaires {
    height: 60%;
    border-bottom: 2px dashed #272e44;
}

.horaires .jours {
    width: 33%;
    float: left;
    padding: 20px;
    text-align: center;
}

.jours h2 {
    font-size: 1.1rem;
}

.horaires .jours:last-child {
    width: 100%;
}

section .info {
    height: 40%;
    position: relative;
}

.info > div {
    height: 33%;
    text-align: center;
    font-size: 1.5rem;
}

.info > div > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.info > div > div {
    float: left;
    width: 20%;
}

.info img {
    width: 20%;
}

.info p {
    width: 80%;
    margin-left: 20%;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    background-color: #272e44;
}

footer > * {
    width: calc(100% / 3);
    height: 100%;
    font-size: 1rem;
}

footer div p,
footer div ul li {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #f8cacc;
}

footer .left {
    float: left;
    padding-left: 5vw;
}

footer .center {
    float: left;
    text-align: center;
}

footer .right {
    float: left;
    padding-right: 5vw;
}

footer .social {
    height: 100%;
}

footer .social li {
    float: right;
    height: 100%;
}

footer .social li:nth-child(2) {
    margin: 0 50px;
}

footer .social li a img {
    height: 3vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: #f8cacc;
    animation: 2s overlayAnim forwards;
}

@keyframes overlayAnim {
    0% {
        opacity: 1;
        top: 0;
    }
    50% {
        opacity: .9;
    }
    90% {
        opacity: .7;
    }
    100% {
        opacity: 0;
        top: 100vh;
        display: none;
        height: 0;
    }
}